.button {
  background-color: var(--accent-color);
  color: var(--thirdy-color);
  padding: 26px 38px;
  border-radius: 14px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 100ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 8px rgba(20, 20, 43, 0.6);
    background-color: var(--thirdy-color);
    color: var(--accent-color);
  }
}

.button--white {
  background-color: var(--thirdy-color);
  color: var(--primary-color);
  border: 1px solid #eff0f6;
  box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
  transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 100ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1), border 100ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 8px rgba(20, 20, 43, 0.6);
    background-color: var(--accent-color);
    color: var(--thirdy-color);
    border: 1px solid var(--accent-color);
  }
}
