.call {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 71px;
  height: 71px;
  background-color: var(--thirdy-color);
  color: var(--accent-color);
  border-radius: 50%;
  border: 1px solid #dcddeb;
  box-shadow: 0px 4px 10px rgba(20, 20, 43, 0.04);
  margin-left: 28px;

  transition: color 100ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 100ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 100ms cubic-bezier(0.4, 0, 0.2, 1), border 100ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 8px rgba(20, 20, 43, 0.6);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--thirdy-color);
  }
}

.call__icon {
  fill: currentColor;
}

.call__descr {
  margin-left: 16px;
}

.call__title {
  font-size: 16px;
  line-height: 1.13;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 22px;
}

.call__phone {
  font-weight: 700;
  font-size: 28px;
  line-height: 0.78;
}

.call__title--white {
  color: var(--thirdy-color);
  margin-bottom: 14px;
  margin-top: 4px;
}

.call__phone--white {
  color: var(--thirdy-color);
}

.call--request {
  margin-left: 0;
}

.call__title--request {
  margin-bottom: 14px;
  margin-top: 4px;
}
