.contacts-container {
  display: flex;
  gap: 40px;
  align-items: baseline;
}

.contacts__content {
  width: 312px;
}

.contacts__content-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.29;
  margin-bottom: 8px;
}

.contacts__content-descr,
.contacts__request-descr {
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-color);
  margin-bottom: 34px;
}

.contacts__content-icons {
  display: flex;
  gap: 16px;
}

.contacts__data {
  width: 312px;
}

.contacts__data-title,
.contacts__worktime-title,
.contacts__request-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: 29px;
}

.contacts__data-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-color);
}

.contacts__data-item:not(:last-child) {
  margin-bottom: 18px;
}

.contacts__worktime {
  width: 164px;
}

.contacts__worktime-days {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  margin-bottom: 8px;
}

.contacts__worktime-hours {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: var(--secondary-color);
}

.contacts__worktime-item:not(:last-child) {
  margin-bottom: 18px;
}

.contacts__request {
  width: 312px;
}

.contacts__request-link {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.29;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.contacts__request-descr {
  margin-bottom: 18px;
}

.contacts {
  position: relative;
}

.contacts::after {
  content: '';
  width: 1220px;
  height: 1px;
  background: #dcddeb;
  border-radius: 0px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
