.section {
  padding-top: 240px;
  padding-bottom: 240px;
}

.section--short {
  padding-bottom: 0;
}

.section--shorter {
  padding-top: 200px;
  padding-bottom: 200px;
}

.section--gray {
  background-color: #f7f9fc;
}
