.services__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.services__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.21;
}

.services__list {
  display: flex;
  gap: 28px;
}

.services__item {
  width: calc((100% - 56px) / 3);
  background: var(--thirdy-color);
  border: 1px solid #eff0f6;
  box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  border-radius: 16px;
}

.services__image--thumb {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 273px;
}

.services__content {
  padding: 24px 38px 29px 38px;
}

.services__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.42;
  text-align: center;
  margin-bottom: 13px;
}

.services__descr {
  font-size: 21px;
  line-height: 1.43;
  text-align: center;
  color: var(--secondary-color);
}
